#mainlogo {
    height: 10%; 
    width: 20%;
}

#headerlogo {
    position: fixed;    
}

#restart-btn {
    position: fixed;
    bottom: 0;
    left: 0;
}

body {
    background-image: url("../images/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.char-box {
    border: solid 3px gray;
    background-color: lightgray;
    width: 60vh;
    height: 20vh;
    text-align: center;
}

.char-icon {
    width: 80%;
    width: 80%;
}

#player-char {
    background-color: white;
    border: solid 3px green;
}

#select-char {
    background-color: lightsalmon;
    border: solid 3px red;
}

#opp-char {
    background-color: darkslategrey;
    border: solid 3px black;
}

